@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  font-family: 'Josefin Sans', sans-serif;
  @apply text-gray-900 m-0 box-border;
}

.font-serif {
  font-family: 'Libre Baskerville', serif !important;
}

.font-cursive {
  font-family: 'Delius', cursive;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.section {
  @apply h-full sm:h-screen w-screen px-2 py-10 hd:px-20 hd:py-16 fhd:px-32 fhd:py-24 4k:px-72 4k:py-56 m-0 box-border;
}

.resume-section-title {
  @apply font-bold text-lg fhd:text-2xl 4k:text-5xl mb-2 text-gray-900 dark:text-white;
}

.resume-section-item {
  @apply p-4 4k:p-8 rounded-md 4k:rounded-xl text-gray-700 dark:text-gray-400;
}

.text-li {
  @apply text-base fhd:text-lg 4k:text-4xl;
}

.h-card-fhd {
  height: 50rem;
}

.h-card-hd {
  height: 40rem;
}

.h-card {
  height: 34rem;
}

.experience-button {
  @apply w-8 4k:w-12 text-gray-500 animate-pulse focus:outline-none hidden sm:block;
}

.experience-card {
  @apply bg-white dark:bg-gray-400 flex flex-col items-center
    w-screen sm:w-90 fhd:w-96 4k:w-120 h-98 fhd:h-100 4k:h-118 py-8 fhd:py-8 4k:py-14
    sm:rounded-xl 4k:rounded-2xl shadow-xl 4k:shadow-2xl;
}